//Color pallette
$orange: #f0ac5b;
$themeBlue: #2e323e;
$white: #ffffff;
$black: #000000;
$grey: #98999B;
$cyan: #78FBFD;
$lightgreen: #B7FBA3;

//Layout

//Fonts
$regular: 400;
$semibold: 500;

$tagline: 2.9rem;
$pageName: 1.5rem;
$normal:1rem;
$subText: 0.75rem;
