@import "variables";

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

.navbar {
  background-color: $themeBlue;
  padding-top: 20px;
}

.navbar-text {
  font-size: 1.5rem;
}

.nav-item {
  margin-right: 10px;
  margin-left: 10px;
  &:hover {
    border-bottom: 1px solid $white;
  }
}

h2.navbar-text {
  color: $white;
  font-weight: 400;
}

.grad {
  height: 6px;
  background: orange;
  /* For browsers that do not support gradients */
  background: linear-gradient(to right, lightgreen, cyan);
  /* Standard syntax (must be last) */
}
