@import "variables";

body {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  background-color: $themeBlue;
  padding-top: 20px;
}

.navbar-text {
  font-size: $pageName;
}

.nav-item {
  margin-right: 10px;
  margin-left: 10px;
  &:hover {
    border-bottom: 1px solid $white;
  }
  &.nav-item{
    text-align: center;
  }
}

h2.navbar-text {
  color: $white;
  font-weight: $regular;
}

.grad {
  height: 6px;
  background: orange;
  /* For browsers that do not support gradients */
  background: linear-gradient(to right, lightgreen, cyan);
}
